<%= form_for(@citable_site) do |f| %>
  <% if @citable_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citable_site.errors.count, "error") %> prohibited this citable_site from being saved:</h2>

      <ul>
      <% @citable_site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :scraping_algorithm %><br />
    <% algos = ScrapingAlgorithm.all.map { |a| [a.name, a.name] } 
       current_algo = nil
       if @citable_site.scraping_algorithm.nil? 
         current_algo = algos.first[0] # just pick the first one by default
       else
         current_algo = @citable_site.scraping_algorithm.name 
       end
         %>

    <%= f.select(:scraping_algorithm, options_for_select(algos, current_algo )) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
