<%= form_for(@citation_template) do |f| %>
  <% if @citation_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citation_template.errors.count, "error") %> prohibited this citation_template from being saved:</h2>

      <ul>
      <% @citation_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :pattern %><br />
    <%= f.text_field :pattern %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
